In [1]:
# Importing PANDAS library with alias pd, PANDAS is used for performing task related to tables, dataframes

import pandas as pd

In [2]:
# Saving the CSV (Comma separated values) file to a variable named dataset using PANDAS function, read_csv

dataset=pd.read_csv("Salary_Data.csv")

In [3]:
dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [19]:
# Saving independent variable or X or Input

independent=dataset[["YearsExperience"]]

In [20]:
# Saving dependent variable or Y or Output

dependent=dataset[["Salary"]]

In [7]:
# Now we need to split the independent and dependent variable as train and test data, for that we are using SKLEARN library, so we are importing train_test_split from it. 

from sklearn.model_selection import train_test_split

In [21]:
# Using train_test_split, we are splliting the independent and dependent variable as training est (X and Y) test set (X and Y)
# and assinging them to variable
# We have given test_size as 0.3 which is 30 percent of date should be in test set and remaining in train set
# random_state is given as zero

X_train,X_test,y_train,y_test = train_test_split(independent, dependent, test_size = 0.30, random_state = 0)

In [22]:
X_train

    YearsExperience
22              7.9
5               2.9
16              5.1
8               3.2
14              4.5
23              8.2
20              6.8
1               1.3
29             10.5
6               3.0
4               2.2
18              5.9
19              6.0
9               3.7
7               3.2
25              9.0
3               2.0
0               1.1
21              7.1
15              4.9
12              4.0

In [23]:
# Now we need to create Model using LinearRegression function, so we are importing from sklearn.liner_model

from sklearn.linear_model import LinearRegression

In [24]:
# we are assinging LinearRegression() to regressor

regressor = LinearRegression()

In [25]:
#using fit method, we are giving the training set as input and generating the model. 

regressor.fit(X_train,y_train)

LinearRegression()

In [1]:
# checking weight or slope once model is generated

weight=regressor.coef_

NameError: name 'regressor' is not defined

In [ ]:
# checking intercept or bias

bias = regressor.intercept_
print(weight)
print(bias)

In [28]:
# using predict function, we are predicting output by giving test set as input. 

y_pred = regressor.predict(X_test)

In [29]:
# Now we need to check R score between actual and predicted output using r2_score function under metrics in sklearn
# as value is nearer to 1, our model is best

from sklearn.metrics import r2_score
R_score = r2_score(y_test, y_pred)
print(R_score)

0.9740993407213511

In [30]:
# Now we need to save the model for deployment purpose
# so we are using pickle library

import pickle
filename = "final.sav"

In [31]:
# saving the model in pickle

pickle.dump(regressor,open(filename, 'wb'))

In [34]:
# loading the model in pickle and getting the predicted values. 

loaded_model = pickle.load(open("final.sav",'rb'))
result = loaded_model.predict([[6]])

C:\Users\mugilans\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [35]:
result

array([[82938.95905836]])