In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("insurance_pre.csv")

In [3]:
dataset.head()

   age     sex     bmi  children smoker      charges
0   19  female  27.900         0    yes  16884.92400
1   18    male  33.770         1     no   1725.55230
2   28    male  33.000         3     no   4449.46200
3   33    male  22.705         0     no  21984.47061
4   32    male  28.880         0     no   3866.85520

In [4]:
dataset = pd.get_dummies(dataset, drop_first=True)
dataset = dataset.astype(int)
dataset.head()

   age  bmi  children  charges  sex_male  smoker_yes
0   19   27         0    16884         0           1
1   18   33         1     1725         1           0
2   28   33         3     4449         1           0
3   33   22         0    21984         1           0
4   32   28         0     3866         1           0

In [5]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [6]:
X = dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes' ]]
y = dataset[['charges']]

In [7]:
X.head()

   age  bmi  children  sex_male  smoker_yes
0   19   27         0         0           1
1   18   33         1         1           0
2   28   33         3         1           0
3   33   22         0         1           0
4   32   28         0         1           0

In [8]:
y.head()

   charges
0    16884
1     1725
2     4449
3    21984
4     3866

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

In [10]:
X

array([[-1.43876426, -0.51812191, -0.90861367, -1.0105187 ,  1.97058663],
       [-1.50996545,  0.46265684, -0.07876719,  0.98959079, -0.5074631 ],
       [-0.79795355,  0.46265684,  1.58092576,  0.98959079, -0.5074631 ],
       ...,
       [-1.50996545,  0.95304622, -0.90861367, -1.0105187 , -0.5074631 ],
       [-1.29636188, -0.84504816, -0.90861367, -1.0105187 , -0.5074631 ],
       [ 1.55168573, -0.19119566, -0.90861367, -1.0105187 ,  1.97058663]])

In [11]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid = {'criterion' :['squared_error', 'friedman_mse', 'absolute_error', 'poisson'], 
              'max_features' : ['sqrt', 'log2'], 'n_estimators' :[50,75,100]}


grid = GridSearchCV(RandomForestRegressor(), param_grid, refit=True, verbose=3, n_jobs=-1, error_score='raise')
grid = grid.fit(X,y)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\mugilans\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [12]:
best_model_RFR = grid.best_params_

In [13]:
best_model_RFR

{'criterion': 'absolute_error', 'max_features': 'sqrt', 'n_estimators': 100}

In [14]:
grid_predict = grid.predict(X)

In [15]:
from sklearn.metrics import r2_score
R2_score_RFR = r2_score(y,grid_predict)
print(R2_score_RFR)

0.9635512666457249